<header>
      <a routerLink="/login">Prijavi se</a>
</header>

<h3>Informacije o sistemu:</h3><br>
<table border = "1px">
    <tr><td>Ukupan broj registrovanih vlasnika:</td><td>{{brojVlasnika}}</td></tr>
    <tr><td>Ukupan broj registrovanih turista:</td><td>{{brojTurista}}</td></tr>
    <tr><td>Broj rezervacija u poslednja 24 casa:</td><td>{{rezervacija24casa}}</td></tr>
    <tr><td>Broj rezervacija u poslednjih 7 dana:</td><td>{{rezervacije7dana}}</td></tr>
    <tr><td>Broj rezervacija u poslednja 30 dana:</td><td>{{rezervacije30dana}}</td></tr>
</table>
<hr>
<app-vikendice></app-vikendice>
<footer>
    Mihailo Pantelić - ETF
</footer>