body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* horizontalno centriranje */
  align-items: center;     /* vertikalno centriranje */
}

div{
    position: absolute;  /* ili fixed */
    top: 12%;            /* 20% od vrha prozora */
    left: 22%; 
    place-items: center;
    width: 50%;
    display: flex;
    flex-direction: column; /* da se elementi slažu vertikalno */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

input,
select {
  width: 50%;
  padding: 6px;
}

button{
  background-color: lightseagreen;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}

.successful {
  color: green;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}
